.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(241, 238, 26);
}

.sign-in{
  background-color:rgb(241, 238, 26);
  border-color:  rgb(241, 238, 26);
    color: #000;
    white-space: pre;
  }
  
  .sign-in:hover{
    background-color: #000;
    border-color:  #000;
    color:  #fff;
    white-space: pre;
  }
  
  .sign-up{
    background-color:rgb(241, 238, 26);
    border-color:  rgb(241, 238, 26);
    color: #000;
    white-space: pre;
  }
  
  .sign-up:hover{
    background-color: #000;
    border-color:  #000;
    color:  #fff;
    white-space: pre;
  }

  .logout{
    background-color:rgb(241, 238, 26);
    border-color:  rgb(241, 238, 26);
    color: #000;
    white-space: pre;
  }
  
  .logout:hover{
    background-color: #000;
    border-color:  #000;
    color: white;
    white-space: pre;
  }